// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
// Overrides
@import "overrides";

// Buttons
.btn-accent {
    color: $active-bg;
    background-color: $accent;
    border-color: $accent;
}

.btn-accent:hover {
    color: $active-bg;
    background-color: darken($accent, 10%);
    border-color: darken($accent, 10%);
}

.btn-accent:focus,
.btn-accent.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-accent.disabled,
.btn-accent:disabled {
    color: $active-bg;
    background-color: $accent;
    border-color: $accent;
}

.btn-outline-warning {
    color: $accent;
    background-color: transparent;
    background-image: none;
    border-color: $accent;
}

.btn-outline-warning:hover {
    color: $active-bg;
    background-color: $accent;
    border-color: $accent;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: $accent;
    background-color: transparent;
}

// Switch checkbox
.switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 32px;
    height: 16px;
    background: grey;
    display: block;
    border-radius: 16px;
    position: relative;
}

.switch-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 12px;
    transition: 0.3s;
}

.switch:checked + .switch-label {
    background: $accent;
}

.switch:checked + .switch-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch-label:active:after {
    width: 20px;
}

// Navbar
.messages, .notifications {
    &.unread i {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -2px;
            right: -4px;
            display: block;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: $accent;
        }
    }
}

// Sidebar
#sidebar {
    height: 100vh;
    .logo {
        background: $active-bg;
        border-bottom: 1px solid lighten($active-bg, 10%);
        #tckz_logo {
            max-width: 2.1rem;
            height: auto;
            display: inline-block;
            margin-right: 1rem;
        }
        .logo-text {
            font-family: 'Lobster Two', cursive;
            font-size: 2.75rem;
            color: $accent;
        }
    }
    #sidebar-menu {

        .nav-link {
            position: relative;
            border-left: 3px solid transparent;
        }
        i {
            margin-right: 1rem;
        }
        > .nav-item {
            &.active > .nav-link, > .nav-link:hover {
                background-color: $active-bg;
                border-left-color: $accent;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                i {
                    color: $accent;
                }
            }
        }
        .submenu {
            padding-left: 0;
            background-color: $dark-bg;
            li {
                list-style: none;
            }
            .submenu-item {
                border-left: none;
                .submenu-link {
                    padding-left: 3.5rem;
                }
                &.active .submenu-link, .submenu-link:hover {
                    background-color: $active-bg;
                    border-left-color: $accent;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    i {
                        color: $accent;
                    }
                }
            }
        }
    }
}

#content-panel > .row {
    flex-flow: column;
    .navbar {
        flex: 0 1 70px;
    }
    #content {
        flex: 1 1 auto;
        background-color: $active-bg;
        @include media-breakpoint-up(xl) {
            max-height: calc(100vh - 70px);
            overflow: scroll;
        }
    }
}
